@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color: #0b187c;
    --l-main-color: #0b156319;
    --d-main-color: #02002c;
    --main-color2: #b00000;
    --l-main-color2: #710505;
    --d-main-color2: #b1000044;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --ligth-white: #fff9;
    --dark-bg: rgba(0,0,0,.7);
    --ligth-bg: #eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color2);
}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}  

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
    text-align: center;
}

.btn{
    display: inline-block;
    background: var(--main-color2);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--l-main-color2);
}

.btn2{
    display: inline-block;
    background: var(--main-color);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor: pointer;
}

.btn2:hover{
    background: var(--d-main-color);
}

.btn3{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 2rem;
    padding:1rem 3rem;
    cursor: pointer;
    border-radius: 15px;
}

.btn3:hover{
    background: var(--light-black);
}


.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}



.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--main-color2)
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display:none;
}

.header .navbar .join-b{
    font-size: 3rem;
    color: var(--main-color2);
}



.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .slide .content{
    width: 120rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--ligth-white);
    padding-bottom: 1rem;
    animation:fadeIn .6s linear backwards .2s;
}

.home .slide .content h3{
    font-size: 5vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:1rem 0;
    animation:fadeIn .6s linear backwards .2s;
}

.home .slide .content .btn{
    animation:fadeIn .6s linear backwards .2s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
    height: 7rem;
    width: 15rem;
    color: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    color: var(--main-color2);
}



.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex:1 1 41rem;
    padding:3rem;
    background: var(--l-main-color);
}

.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p{
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
    color: var(--black);
    text-transform: none;
}



.services p{
    font-size: 2rem;
    line-height: 2;
    padding-bottom: 5rem;
    color: var(--black);
    text-transform: none;
    text-align: center;
}

.services .heading-title{
    text-transform: none;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 5.5rem;
    padding-bottom: 3rem;
}

.services .box-container .box{
    padding:3rem 2rem;
    text-align: center;
    background: var(--main-color2);
    cursor: pointer;
    border-radius: 10px;
}

.services .box-container .box:hover{
    background: var(--main-color);
    transform: scale(1.1);
}

.services .box-container .box img{
    height: 9rem;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    padding-top: 1rem;
}



.home-property{
    background: var(--ligth-bg);
}

.home-property .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}



.home-property .box-container .box{
    border-radius: 13px;
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-property .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.home-property .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-property .box-container .box:hover img{
    transform: scale(1.05);
}

.home-property .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.home-property .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home-property .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--dark-bg);
    line-height: 2;
    padding:1rem;
}

.home-property .box-container .box .content .iconos{
    font-size: 1.3rem;
    color: var(--dark-bg);
    padding: 0.5rem;
}

.home-property .box-container .box .content i{
    color:var(--main-color);
    padding-right: .5rem;
    padding-left: .5rem;
}



.home-property .box-container .box1{
    border-radius: 13px;
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-property .box-container .box1 .image{
    height: 25rem;
    overflow: hidden;
}

.home-property .box-container .box1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-property .box-container .box1:hover img{
    transform: scale(1.05);
}

.home-property .box-container .box1 .content{
    padding:2rem;
    text-align: center;
}

.home-property .box-container .box1 .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home-property .box-container .box1 .content p{
    font-size: 1.5rem;
    color: var(--dark-bg);
    line-height: 2;
    padding:1rem;
}

.home-property .box-container .box1 .content .iconos{
    font-size: 1.3rem;
    color: var(--dark-bg);
    padding: 0.5rem;
}

.home-property .box-container .box1 .content i{
    color:var(--main-color);
    padding-right: .5rem;
    padding-left: .5rem;
}



.home-property .load-more{
    text-align: center;
    margin-top: 2rem;
}




.join-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.join-us .image1{
    flex: none;
    flex: 1 1 41rem;
}

.join-us .image1 img{
    width: 100%;
}

.join-us .content{
    flex:1 1 41rem;
    padding:3rem;
    background: var(--l-main-color);
}

.join-us .content h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: none;
}

.join-us .content p{
    font-size: 1.8rem;
    padding:1rem 0;
    line-height: 2;
    color: var(--black);
    text-transform: none;
}



.join{
    text-align: center;
    background-color: var(--l-main-color2);
}

.join .content{
    max-width: 90rem;
    margin: 0 auto;
}

.join .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
}

.join .content p{
    font-size: 2rem;
    color: var(--ligth-white);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}



/* display: none; */

.join2{
    text-align: center;
    background-color: var(--main-color);
}

.join2 .content{
    max-width: 120rem;
    margin: 0 auto;
}

.join2 .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
}

.join2 .content p{
    font-size: 2rem;
    color: var(--ligth-white);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}



.join3{
    text-align: center;
    background-color: var(--light-black);
}

.join3 .content{
    max-width: 120rem;
    margin: 0 auto;
}

.join3 .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
}

.join3 .content p{
    font-size: 2rem;
    color: var(--ligth-white);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}



.card-wrapper{
    max-width: 1500px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: var(--ligth-bg);
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: var(--box-shadow);
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    transform: scale(1.03);
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 2;
    padding: 0.5rem 0;
}

.card-list .card-link .card-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: none;
}

.card-list .card-link .card-text{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 2;
    color: var(--black);
    text-transform: none;
}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: var(--main-color);
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: var(--d-main-color);
    margin-top: -35px;
}

.blog .load-more{
    text-align: center;
    margin-top: 2rem;
}




.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.about .image{
    flex:1 1 41rem;
}

.about .image img{
    width: 100%;
}

.about .content{
    flex:1 1 41rem;
    text-align: center;
}

.about .content h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
}

.about .content p{
    font-size: 2rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}

.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons{
    background: var(--ligth-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}



.agent{
    background-color: var(--l-main-color);
}

.agent .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;
}

.agent .container1{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.agent .container .items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.agent .container .card{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--ligth-white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
}

.agent .container .card:hover{
    transform: scale(1.03);
}


.agent .container .card p{
    font-size: 1.7rem;
    color: var(--dark-bg);
    line-height: 1;
    padding:1rem;
    text-align: center;
}

.agent .container .card a{
    color: var(--black);
}


.agent .container .card i{
    color:var(--main-color2);
    padding-right: .5rem;
    padding-left: .5rem;
}

.agent .container .card h1{
    color:var(--black);
    font-size: 2rem;
}


.agent .container .image{
    width: 140px;
    height: 140px;
    border: 3px solid var(--black);
    border-radius: 50%;
    overflow: hidden;
}

.agent .container .image img{
    width: fit-content;
    height: 100%;
    object-fit: cover;
}




.property{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.property .image{
    flex:1 1 41rem;
}

.property .image img{
    width: 100%;
}

.property .content{
    flex:1 1 41rem;
    text-align: center;
    background: var(--l-main-color);
}

.property .content h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
    padding: 1.5rem;
}

.property .content p{
    font-size: 2rem;
    color: var(--black);
    line-height: 2;
    padding: 1.5rem 1.5rem;
    text-transform: none;
}



.properties{
    background: var(--ligth-bg);
}

.properties .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
}

.properties .box-container .box{
    border-radius: 13px;
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}

.properties .box-container .box:nth-child(1),
.properties .box-container .box:nth-child(2),
.properties .box-container .box:nth-child(3),
.properties .box-container .box:nth-child(4),
.properties .box-container .box:nth-child(5),
.properties .box-container .box:nth-child(6){
    display: inline-block;
}

.properties .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.properties .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.properties .box-container .box:hover img{
    transform: scale(1.05);
}

.properties .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.properties .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.properties .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--dark-bg);
    line-height: 2;
    padding:1rem;
}

.properties .box-container .box .content .iconos{
    font-size: 1.3rem;
    color: var(--dark-bg);
    padding: 0.5rem;
}

.properties .box-container .box .content i{
    color:var(--main-color);
    padding-right: .5rem;
    padding-left: .5rem;
}

.properties .load-more{
    text-align: center;
    margin-top: 2rem;
}




.info p{
    font-size: 2rem;
    line-height: 2.5;
    color: var(--black);
    text-transform: none;
    text-align: center;
}

.info .p2{
    color: var(--white);
}


.noticia {
    font-size: 2rem;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.noticia h1{
    font-size: 4rem;
    text-align: left;
}

.noticia p{
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
}

.noticia .text h4{
    font-size: 2.3rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: none;
}

.noticia .text p{
    font-size: 1.7rem;
    text-transform: none;
}

.noticia .text li{
    font-size: 2rem;
    text-transform: none;
}

.noticia .text .lista{
    font-size: 2rem;
    text-transform: none;
    font-weight: bold;
}

.noticia .image{
    display: flex;
    flex-direction: column;

}



.tasacion {
    font-size: 2rem;
    text-align: justify;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.tasacion .text h4{
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: none;
}

.tasacion .text p{
    font-size: 2rem;
    text-transform: none;
}


.about .contentt{
    flex:1 1 41rem;
    text-align: center;
    background-color: var(--l-main-color);
}

.about .contentt h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
}

.about .contentt p{
    font-size: 2rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}



.booking p{
    font-size: 2rem;
    line-height: 2;
    padding-bottom: 5rem;
    color: var(--black);
    text-transform: none;
    text-align: center;
}

.booking .book-form{
    padding: 2rem;
    background: var(--ligth-bg);
}

.booking .book-form .flex{
    display: grid;
    gap: 3rem;
}

.booking .book-form .flex .inputBox{
    flex: 1 1 50rem;
}

.booking .book-form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 2rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--ligth-white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
    color: var(--ligth-white);
}

.booking .book-form .flex .inputBox textarea{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 2rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox textarea:focus{
    background: var(--black);
    color: var(--ligth-white);
}

.booking .book-form .flex .inputBox textarea:focus::placeholder{
    color: var(--ligth-white);
}

.booking .book-form .flex .inputBox span{
    font-size: 2rem;
    color: var(--main-color2);
}

.booking .book-form .btn{
    margin-top: 2rem;
}





.footer{
    background-color:var(--black);
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color:var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color:var(--ligth-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color:var(--main-color2);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--ligth-white);
    font-size: 2rem;
    color:var(--white);
}



/* media queries */

@media (max-width:1200px){

    section{
        padding:3rem 5%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
    }

    .home .swiper-button-next,
    .home .swiper-button-prev{
        top: auto;
        bottom: 4rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color:var(--white);
        border-top:var(--border);
        padding:2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin:2rem;
        text-align: center;
    }

    .home-property .box-container .box1{
        display: none;
    }

    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }

    .heading h1{
        font-size: 7rem;
    }

}